.par1 {
    text-align: left;
}
h3 {
    text-align: left;
    font-size: large;
    font-weight: 450;
}
h2 {
    text-align: left;
    margin: 10px;
}
.feedback {
    min-height: 87.51vh;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    text-align: center;
    border-collapse: collapse;
}